# verbose output
alias cp="cp -v"
alias mv="mv -v"
alias rm="rm -v"
alias mkdir="mkdir -pv"
alias wget="wget -c"
alias qfind="find . -name"

# Shortcuts
case "$DISTRO" in  # depend on ~/.bash-git-prompt/get_distro.sh
  ubuntu)
    alias dp="cd ~/Projects"
    alias ds="cd ~/Scripts"
    alias dl="cd ~/Libraries"
    ;;
  *)
    alias dp="cd ~/projects"
    alias ds="cd ~/scripts"
    alias dl="cd ~/libraries"
    ;;
esac

# LS aliases conditioned on whether lsd is installed
if command -v "lsd" &> /dev/null; then
  alias ls='lsd'
  alias l='ls -l'
  alias la='ls -al'
  alias lt='ls --tree'

else
  # Detect which `ls` flavor is in use
  if ls --color > /dev/null 2>&1; then # GNU `ls`
	  colorflag="--color"
  else # OS X `ls`
	  colorflag="-G"
  fi

  alias l="ls -lAFh ${colorflag}"
  alias ll="l"
  alias ls="ls ${colorflag}"
  alias ld="ls -laF ${colorflag} | grep --color=never '^d'"
fi

# Always enable colored `grep` output
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

# Time
alias week="date +%V"
alias epochtime="date +%s"
alias timestamp='date "+%Y%m%dT%H%M%S"'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Recursively delete `.DS_Store` files
alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"
