[user]
	name = ypei
	email = ypei@cs.utexas.edu
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
#[credential]
#	helper = osxkeychain
