[user]
    name = ypei

[core]
    editor = vim

[merge]
    tool = vimdiff

[alias]
    graph = log --graph --oneline --decorate --color

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
