[user]
    name = ypei
    email = ypei@cs.utexas.edu
[core]
    editor = vim
[merge]
    tool = vimdiff
[github]
    user = ypei92
[alias]
    graph = log --graph --oneline --decorate --color
    st = status
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
